$mainFont:'Open Sans','san-serif';
$gray:#323232;
$white:#fff;
$black:#000;
$green:#02A28F;
$grey:#8E8E8E;
$canteinerWidth:1130px;
$headercantent:#DCE5E2;
$bg:#263238;
$maincantent:#F5F5F5;
$sectionp:#8F95A5;    
$red:red;